<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.1.xsd">
	<context:property-placeholder location="classpath*:huacai.properties"/>

	<!-- 支持上传文件 -->  
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
	
	<bean id="servletHandlerAdapter" class="org.springframework.web.servlet.handler.SimpleServletHandlerAdapter" />  
	
	 <!--自动扫描的包名 -->
	<context:component-scan base-package="chunxian.admin.**.controller" />

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
	<mvc:resources mapping="/static/**" location="/static/"/>

	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver"> 
		<property name="contentNegotiationManager" ref="cnManager"/>
		<property name="viewResolvers">
			<list>
				<!--springmvc的jsp视图解析器&模版解析器-->
				<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
					<property name="prefix" value="/WEB-INF/views/" />
					<property name="suffix" value=".jsp" />
					<property name="order" value="1" />
				</bean>				 
			</list>
		</property>
	</bean>	
	
	
	<bean id="cnManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="true"/>
        <property name="ignoreAcceptHeader" value="true"/>
        <property name="defaultContentType" value="text/html"/>
        <property name="mediaTypes">
            <map>
                <entry key="html" value="text/html" />
                <entry key="xml"  value="application/xml" />  
                <entry key="atom" value="application/atom+xml" /> 
            </map>
        </property>
    </bean>

	<!-- jackson json化返回结果 -->
	<bean id="jacksonResponse" class="com.huaxia.common.web.rest.Jackson2HttpMessageConverter">
		<property name="objectMapper">
			<bean class="com.fasterxml.jackson.databind.ObjectMapper">
				<!-- 为null字段时不显示 -->
				<property name="serializationInclusion" value="NON_NULL"/>
				<property name="timeZone" value="GMT+8"/>
				<property name="dateFormat">
					<bean class="com.huaxia.common.util.utils.CommonDateFormat">
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<!-- 请求映射处理适配器 -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jacksonResponse"/>
			</list>
		</property>
		<property name="returnValueHandlers">
			<list>
				<bean class="org.springframework.web.servlet.mvc.method.annotation.ModelAndViewMethodReturnValueHandler"/>
				<bean class="org.springframework.web.method.annotation.ModelMethodProcessor"/>
				<bean class="org.springframework.web.servlet.mvc.method.annotation.ViewMethodReturnValueHandler"/>
				<bean class="org.springframework.web.servlet.mvc.method.annotation.ViewNameMethodReturnValueHandler"/>
				<bean class="com.huaxia.common.web.rest.ReqResponeReturnValueHandler">
					<constructor-arg name="messageConverters">
						<list>
							<ref bean="jacksonResponse"/>
						</list>
					</constructor-arg>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 异常处理器 -->
	<bean id="exceptionResolver" class="com.huaxia.common.web.rest.BaseHandlerExceptionResolver">
		<property name="messageConverters">
			<list>
				<ref bean="jacksonResponse"/>
			</list>
		</property>
	</bean>

	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<!-- 将StringHttpMessageCOnverter的默认编码设为UTF-8 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:interceptors>
		<bean id="ssoLoginAnnotationInterceptor" class="com.huaxia.sso.filter.SSOLoginAnnotationInterceptor"/>
	</mvc:interceptors>
</beans>
