/**
 * @项目名称:
 * @文件名称: ${model}Service 版本号：1.0
 * @创建日期: ${ctime}
 * <p>
 * Copyrights © 2016 华夏信财股权投资管理有限公司 All rights reserved.
 * <p>
 * 注意：本内容仅限于华夏信财股权投资管理有限公司信息技术部内部传阅，禁止外泄以及用于其他的商业目的。
 */
package ${service_path};

import com.github.pagehelper.PageInfo;
import ${model_path}.${model};

import java.util.List;
import java.util.Map;

/**
 * ${model}Service接口
 */
public interface ${model}Service {
    Long delete${model}ById(Long id);
    Long create${model}(${model} record);
    Long update${model}(${model} record);
    List<${model}> query${model}List(${model} record);
    PageInfo<${model}> find${model}Page(int pageNum, int pageSize, ${model} record);
}